<launch>
    <node name="labstreaminglayer_syncronizer" pkg="labstreaminglayer_ros" type="labstreaminglayer_syncronizer" output="screen">
        <rosparam command="load" file="$(find labstreaminglayer_ros)/yaml/labstreaminglayer.yaml" />
        <rosparam command="load" file="$(find labstreaminglayer_ros)/yaml/lsl_maps.yaml" />
    </node>
</launch>
